SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_LOV](
	[MST_LOV_TYPE] [varchar](50) NOT NULL,
	[MST_LOV_ID] [varchar](20) NOT NULL,
	[MST_LOV_ORDER] [int] NOT NULL,
	[MST_LOV_NAME_ENG] [nvarchar](100) NULL,
	[MST_LOV_NAME_TH] [nvarchar](100) NULL,
	[MST_LOV_DESCRIPTION] [nvarchar](100) NULL,
	[ACTIVE_STATUS] [bit] NOT NULL,
	[CREATE_DATETIME] [datetime] NOT NULL,
	[CREATE_USER] [varchar](20) NULL,
	[UPDATE_DATETIME] [datetime] NULL,
	[UPDATE_USER] [varchar](20) NULL,
 CONSTRAINT [PK_MST_LOV] PRIMARY KEY CLUSTERED 
(
	[MST_LOV_TYPE] ASC,
	[MST_LOV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[MST_LOV] ([MST_LOV_TYPE], [MST_LOV_ID], [MST_LOV_ORDER], [MST_LOV_NAME_ENG], [MST_LOV_NAME_TH], [MST_LOV_DESCRIPTION], [ACTIVE_STATUS], [CREATE_DATETIME], [CREATE_USER], [UPDATE_DATETIME], [UPDATE_USER]) VALUES (N'APPLICATION_STATUS', N'-1', -1, N'Please select', N'กรุณาเลือก', N'สถานะการใช้งาน (Row Status)', 1, CAST(N'2019-09-06T21:37:53.100' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[MST_LOV] ([MST_LOV_TYPE], [MST_LOV_ID], [MST_LOV_ORDER], [MST_LOV_NAME_ENG], [MST_LOV_NAME_TH], [MST_LOV_DESCRIPTION], [ACTIVE_STATUS], [CREATE_DATETIME], [CREATE_USER], [UPDATE_DATETIME], [UPDATE_USER]) VALUES (N'APPLICATION_STATUS', N'ACTIVE', 1, N'ACTIVE', N'เปิดใช้งาน', NULL, 1, CAST(N'2019-09-06T21:38:48.080' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[MST_LOV] ([MST_LOV_TYPE], [MST_LOV_ID], [MST_LOV_ORDER], [MST_LOV_NAME_ENG], [MST_LOV_NAME_TH], [MST_LOV_DESCRIPTION], [ACTIVE_STATUS], [CREATE_DATETIME], [CREATE_USER], [UPDATE_DATETIME], [UPDATE_USER]) VALUES (N'APPLICATION_STATUS', N'DELETE', 3, N'DELETE', N'ยกเลิกการใช้งาน', NULL, 1, CAST(N'2019-09-06T21:40:17.977' AS DateTime), NULL, NULL, NULL)
ALTER TABLE [dbo].[MST_LOV] ADD  CONSTRAINT [DF_MST_LOV_ACTIVE_STATUS]  DEFAULT ((0)) FOR [ACTIVE_STATUS]
GO
ALTER TABLE [dbo].[MST_LOV] ADD  CONSTRAINT [DF_MST_LOV_CREATE_DATETIME]  DEFAULT (getdate()) FOR [CREATE_DATETIME]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'(PK) Group' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MST_LOV', @level2type=N'COLUMN',@level2name=N'MST_LOV_TYPE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'(PK) Code' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'MST_LOV', @level2type=N'COLUMN',@level2name=N'MST_LOV_ID'
GO
