SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[x_roles](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[x_roles] ON 

INSERT [dbo].[x_roles] ([id], [name]) VALUES (2, N'ROLE_ADMIN')
INSERT [dbo].[x_roles] ([id], [name]) VALUES (1, N'ROLE_USER')
SET IDENTITY_INSERT [dbo].[x_roles] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_9xs1dtpcsbc23gjuafdmjlpf7]    Script Date: 15 ก.ย. 2562 12:39:07 ******/
ALTER TABLE [dbo].[x_roles] ADD  CONSTRAINT [UK_9xs1dtpcsbc23gjuafdmjlpf7] UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
